table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}
tr, td {
	padding: 0 10px;
	/*border: 1px solid #000;*/
	text-align: center;
}
tr {
	 border-bottom: 1px solid #d3d3d3;
	 line-height: 30px;
}
tr:first-child {
	font-weight: bold;
}
.main {
	width: 750px;
	height: 340px;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px #d3d3d3;
}
td:first-child {
	color: #e7242a;
}
tr:first-child td {
	color: #000;
}
.plus, .del {
	font-weight: bold;
	color: #ffffff;
	margin: 5px;
	width: 50px;
	float: left;
}
.plus {
	background-color: #e7242a;
	font-size: 22px;
}
.del {
	background-color: #dc4e45;
	text-transform: uppercase;
	width: 76px;
	font-size: 12px;
}
.total {
	text-align: right;
	margin-right: 50px;
	box-shadow:  5px 0 0 0 #d3d3d3;
	padding-right: 15px;
}
p:last-child {
	color: #808080;
}
a {
	font-style: italic;
	color: #e83339;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	display: block;
}


.close-circle{
    position: absolute;
    right: 140px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #808080;
}
.close {
	text-decoration: none;
	font-size: 19px;
	color: #fff;
}
